<div style="text-align:center;"><script type="text/javascript" src="http://services.webestools.com/cpt_pages_views/72469-10-9.js"></script></div><a href="http://www.webestools.com/" style="display:block;text-align:center;" title="Tools services webmasters counters generators scripts tutorials free"></a>


<div class="footer row">
    <div class="col-xl-4 col-md-5 col-sm-5 leftfooter">
        <img src="306.png" alt="image-loading">
        <div class="address">
            <p>Passport Services.</p>
            <p>Sea-Sky Internationals</p>
            <p>Kanakiya plot,jetpur (Gujrat)</p>
        </div>

    </div>

    <div class="col-xl-4 col-md-5 col-sm-5 middlefooter">

        <h2>LEGAL INFORMATION</h2>
        <ul>
            <li><a href="faq">Faq & Details</a></li>
            <li><a href="">Refund Policy</a></li>

        </ul>

    </div>

    <div class="col-xl-4 col-md-5 col-sm-5 rightfooter">
        <h2> <a href="./about" target="_blank" rel="noopener noreferrer" style="color:white"> CONTECT US</a> </h2>
        <div class="icon">
            <i class="fa fa-facebook-square fa-2x"
                aria-hidden="true"></i>
            <i class="fa fa-twitter-square fa-2x"
                aria-hidden="true"></i>
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </div>
    </div>


</div>
