<div style="text-align: center">
  <script
    type="text/javascript"
    src="http://services.webestools.com/cpt_pages_views/72469-10-9.js"
  ></script>
</div>
<a
  href="http://www.webestools.com/"
  style="display: block; text-align: center"
  title="Tools services webmasters counters generators scripts tutorials free"
></a>

<div class="footer row">
  <div class="col-xl-8 col-md-10 col-sm-12 leftfooter">
    <h2 class="ml-sm-0 ">
      <a
        href="./contact"
        target="_blank"
        rel="noopener noreferrer"
        style="color: white"
        
      >
        ABOUT US</a
      >
    </h2>
    <p>
      Welcome to passportservice.in (Private Service Provider) - Passport
      Service Agents and Consultant Services is a professional passport agency
      situated in Jetpur, Gujarat. Our services include offering aid to clients
      when they want to apply for a new passport, when they wish to renew their
      old passport, or when they need to make some corrections in the existing
      one. To make these complicated processes easier, we offer 24*7 customers
      support and best services to our clients.
    </p>
  </div>
  <div class="col-xl-4 col-md-5 col-sm-12 rightfooter">
    <h2>
      <a
        href="./contact"
        target="_blank"
        rel="noopener noreferrer"
        style="color: white"
      >
      CONTACT US</a
      >
    </h2>
    <div class="icon">
      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
