<style>
    .item a{
        color: white;
    }
</style>

<div class="row menu">
    <div class="col-xl-3 col-md-5 col-sm-5 left">
        <img src="306.png" alt="NO Image found">
        </div>
   
    <div class="item col-xl-6 col-md-12 col-sm-3 btn-group">
        <button type="button" class="btn btn-outline-primary"> <a href="./">
                Home</a> </button>
    <span style="background-color: white;"></span>
    
        <button type="button" class="btn btn-outline-primary"> <a
                href="./application"> Application</a></button></a>
        <span></span>
        <button type="button" class="btn btn-outline-primary"> <a
                href="./document"> Document</a></button>
        <span></span>
        <button type="button" class="btn btn-outline-primary"> <a href="./fee">
                Fees</a></button>
        <span></span>
        <button type="button" class="btn btn-outline-primary"> <a href="./faq">
                Faq</a></button>
        <span></span>
        <button type="button" class="btn btn-outline-primary"> <a
                href="./contact"> Contact Us</a></button>
    </div>
    <div class="cmenu col-xl-3 col-md-5 col-sm-6 ">
        <div class="collapse " id="navbarToggleExternalContent">
            <div class="bcmenu">
                <div>  
                    <form action="./">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center " > Home </button>
                    </form>
                </div>

                <!-- <span style="background-color: white;"></span> -->
                <div>
                    <form action="./application">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center"> Application </button>
                    </form>
                </div>

                <!-- <span></span> -->

                <div>
                    <form action="./document">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center"> Document </button>
                    </form>
                </div>
                <!-- <span></span> -->
                <div>
                    <form action="./fee">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center"> Fee </button>
                    </form>
                </div>
                <!-- <span></span> -->
                <div>
                    <form action="./faq">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center"> Faq </button>
                    </form>
                </div>
                <!-- <span></span> -->
                <div>
                    <form action="./contact">
                        <button type="submit" class="btn btn-outline-primary
                            text-white ccm text-center">  Contact Us </button>
                    </form>
                </div>
                <!-- <span></span> -->

            </div>
        </div>
        <nav class="navbar navbar-dark m-auto" style="color: #093a86;">
            <button class="navbar-toggler m-auto"  type="button"
                data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false"
                aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>