@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Prata', serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.menu
{
   
    height: 125px;
    color: #ffffff;
    /* background-image: linear-gradient(to right, #2650a8, #374b9e, #424694, #49418b, #4e3c81); */
    background-image: linear-gradient(to right, #3179e7, #415fb8, #3f488c, #353263, #261f3d);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;  
    z-index: 10; 
}
.menu .left img
{
    margin-left:30px;
    width:200px;
    height: 150px;

}

.item .btn
{
    height:2rem;
    border: none;
    margin-left: 8rem;
    font-size: large;
}
.cmenu
{
    margin-top: 120px;
    display:none;
}
.bcmenu
{
    background-color: #093a86;
}
.main
{
   margin-left: 40px;
    background-color: white;
    color: black;
    height: 200px;
    width: 95%;
    margin-top: -90px;
    border-radius: 20px;
    /* z-index: -1; 
    position: relative; */


}
.main .upper .icon
{
   margin-top: 60px;
    margin-left: 50px; 
    height: 0px;
    width: 50px;
}

.main .upper .type
{
    margin-left: 130px;
    
}
.main .lower
{
    margin-left: 4rem;
}
.main .lower button
{
   
    width: 150px; 
    height: 2rem;
    /* border-radius: 20px;SSSS */
    color:white;
    background-image: linear-gradient(to right, #3179e7, #415fb8, #3f488c, #353263, #261f3d);
    
}
.main .lowersecond
{
   
    width: 150px; 
    border-radius: 20px;
    margin: auto; 
    margin-left: 4rem;
}
.main .pay h3{
    margin-left: 290px;
     margin-top:20px;
 }
 .main .pay .photo img
 {
     height: 100px;
    margin-left: 200px;
 }
 .main .homeform
 {
     width: 40%;
     margin: auto;
 }
 .banner{
    justify-content: center;
    margin-top:30px;
}
.heading {
    font:1200;
    margin-left: 500px;
}
.content
{
    margin-top: 40px;
}
.banner .lefttype img 
{
    height: 300px;
    width: 600px;
}
.silder
{
    margin-top:20px;
}

.silder img
{
    height: 500px;
    width: 200px;
    background-color: white;
}
.righttype
{
    margin-top: 10px;
}
.mainapp
{
    margin-top: 1rem;
}

#footer
{
    background-color: rgb(49, 46, 46); 
    color: cyan;
}
#footer ul{
    color:white;
}

@media(max-width: 800px)
{
 .menu
{
   
    height: 100% !important;
    background-color: #093a86 ;
    color: #ffffff;
    position: block;

}
.menu .left img
{
    margin-top:-3rem;
    margin:auto;
    width:250px;
    height:150px;

}
.menu .left
{
    margin-top:15px;
    margin-left: 35px;

}
.main .homeform
{
    width: 100%;
    margin: auto;
}
.main .lowersecond
{
   
    width: 150px; 
    border-radius: 20px;
    margin: auto; 
    margin-left: 5rem;
}

.item
{
    margin-top: 0px;
    display: none;
    
}
.cmenu
{
    margin-top: 0rem;
}
.ccm
{
    width: 40vh;
}
.bcmenu
{
    margin: auto;
    margin-left:1rem;
}

.main
{
   margin-left: 7px;
    background-color: blue;
    height: 500px;
    width: 95%;
    margin-top: 0px;
    border-radius: 20px;
}
.main .upper .icon
{
   margin-top: 30px;
    margin-left: 20px; 
    height: 80px;
    width: 10px;
}

.main .upper .type
{
    margin-left: 0px;
    
}
.main .lower
{
    margin-left: 0px;
}
.main .lower button
{
   
    width: 150px; 
    border-radius: 20px;
}
.heading {
    margin-left: 0px;
}
.banner .content .lefttype img 
{
    height: 300px;
    width: 300px;
}

.silder img
{
    height: 150px;
}


.footer
{
   height: 700px !important;
   background-color: #093a86;
   color:white;
    
}
.leftfooter h2
{
    margin-top: 0rem;
}

.rightfooter
{
   margin-top: 0px !important;
   margin-left: 1px !important;
   
}
.rightfooter .fa
{
margin-left:10px;
}


}
@media(min-width: 700px) and (max-width: 1200px)
{
    .menu
    {
       
        height: 150px;
        background-color: #093a86 ;
        color: #ffffff;
    
    }
    .item
{
    margin-top: 0px;
    
}
.main
    {
        height: 350px;
    }
}